# Ignore node_modules directory
node_modules/

# Ignore Mac system files
.DS_Store
assets/.DS_Store

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build or output directories
dist/
build/

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore lock files for Yarn (if not used)
yarn.lock

# Ignore IDE/Editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore temporary files
*.swp
*.swo